@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: black;
  color: white;
}

.card{
  background-color: rgb(28, 27, 33);
  border-radius: 5%;
  border: red solid 2px;
}

.header{
  background-color: rgb(34, 31, 31);
}